{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="ui divider"></div>
<div class="ui vertical stripe quote segment">
    <div class="ui middle equal width aligned stackable grid container">
        <div class="center aligned row">
            <div class="center aligned column">
                <h1>
                    O que é o Spotted?
                </h1>
            </div>
        </div>
        <div class="column">
            <p>
                Se às vezes no silêncio da noite, você fica imaginando aquele crush que viu na rua, ou se já está tão in love que nem sabe se a lenda dessa paixão faz sorrir ou faz chorar... aqui é o lugar certo para você!
            </p>
            <p>
                Nós, da Equipe Spotted, acreditamos no amor e trabalhamos para que ele seja vivenciado em todas suas formas nessa louca vida acadêmica na Unicamp.
            </p>
            <p>
                Pode perguntar se alguém conhece aquela paixonite que você viu virando a esquina com toda a alegria festejando? Pode dar uma de Marisa Monte e mandar um “amor, I love you”? Pode só procurar alguém para dar uns beijos no final de semana? Pode, pode e pode!
            </p>
        </div>
        <div class="column">
            <p>
                Pode perguntar se alguém conhece aquela paixonite que você viu virando a esquina com toda a alegria festejando? Pode dar uma de Marisa Monte e mandar um “amor, I love you”? Pode só procurar alguém para dar uns beijos no final de semana? Pode, pode e pode!

            </p>
            <p>
                Só não tá liberado desrespeitar as pessoas, ser racista ou homofóbico! Atos assim não serão tolerados.
            </p>
            </p>
                Agora que você já leu isso, senta, se acomoda, à vontade, tá em casa, mande sua mensagem e seja bem vindx!
            </p>

        </div>
    </div>
</div>
{% endblock %}
